-- {{ ansible_managed }}

VirtualHost "{{ item.name }}"

name = "{{ item.name }} Messenger Service";

-- This is a (by default, empty) list of accounts that are admins
-- for the server. Note that you must create the accounts separately
-- (see https://prosody.im/doc/creating_accounts for info)
-- Example: admins = { "user1@example.com", "user2@example.net" }
admins = { {{ item.admin_jids | default([]) | map("to_json") | join(", ") }} }

-- mod_groups: assign users to admin-defined groups (default: empty)
groups_file = "/etc/prosody/sharedGroups-{{ item.name }}.txt"

-- mod_server_contact_info: public contact addresses for abuse handling (default: empty)
contact_info = {
	abuse = { {{ item.admin_jids | default([]) | map('regex_replace', '^', 'xmpp:') | map("to_json") | join(", ") }} },
	admin = { {{ item.admin_jids | default([]) | map('regex_replace', '^', 'xmpp:') | map("to_json") | join(", ") }} },
	support = { "https://{{ prosody.web_domain.name }}/" }
};

-- Authentication method (default: internal_hashed)
authentication = "{{ item.authentication_provider | default("internal_hashed") }}"

-- Allow new users to register from within their XMPP client (does not work with external authentication providers like imap) [XEP-0077] (default: false)
allow_registration = {{ item.allow_registration | default(false) | ternary("true", "false") }}

-- Archiving configuration
archive_expires_after = "{{ (item.delete_messages_after_days | string() + "d") if item.delete_messages_after_days is defined else "never" }}"; -- Remove archived messages after XXX days (default: 7d)

pep_max_items = 10000; -- required for Movim, see https://github.com/movim/movim/wiki/Configure%20prosody

-- mod_conversejs:
conversejs_options = {
	view_mode = "fullscreen";
	play_sounds = true;
	discover_connection_methods = true; -- enable users from XMPP domains not hosted on this server. Seems to break everything if conversejs_resources/_cdn is set. (default: false)
	i18n = "de"; -- language autodetection is flaky (see https://github.com/conversejs/converse.js/issues/2381), force German as default (default: unset -> autodetect)
	csi_waiting_time = "10"; -- after XX seconds set user status to "inactive" (default: 0 -> never)
	auto_away = "180"; -- after XX seconds set user status to "away" (default: 0 -> never)
	auto_xa = "600"; -- after XX seconds set user status to "extended away" (default: 0 -> never)
	auto_reconnect = true; -- on network failures try to reconnect automatically (default: false)
	allow_non_roster_messaging = true; -- receive message from users not in the roster, like in conversations.im (default: false)
	allow_chat_pending_contacts = true; -- allow users to chat with pending contacts, like in conversations.im (default: false)
	auto_register_muc_nickname = true; -- automatically register user's nickname in MUC (default: false)
	muc_domain = "{{ item.components.muc }}"; -- default domain for new MUCs (default: unset -> users have to type in MUC domain)
	auto_list_rooms = {{ item.conversejs.auto_list_rooms | default(true) | ternary("true", "false") }}; -- automatically list all public rooms on this server (default: false)
}
conversejs_tags = {
	-- Load libsignal-protocol.js for OMEMO support (GPLv3; be aware of licence implications)
	[[<script src="https://{{ prosody.web_domain.name }}/conversejs-libsignal-protocol-javascript/libsignal-protocol.js"></script>]];
}


------ Components ------
--- Set up a MUC (multi-user chat) room server: [XEP-0045]
Component "{{ item.components.muc }}" "muc"
	restrict_room_creation = false; -- everyone can create rooms
	modules_enabled = {
	    "muc_limits"; -- limit max. event rate in a MUC room
	    "muc_mam"; -- enable archiving of MUC messages
	    "vcard_muc"; -- enable vCards for MUC rooms
	    "muc_cloud_notify"; -- enable push notifications for iOS devices
	}
	muc_log_by_default = true; -- enable conversation logging by default (can be disabled in room config)

-- Set up a SOCKS5 bytestream proxy for server-proxied file transfers:
-- Listens on port 5000
Component "{{ item.components.proxy65 }}" "proxy65"
	-- proxy65_acl = { "{{ item.name }}" }; -- do NOT enable, would limit proxy65 usage to internal usage

-- PubSub ("Publish-Subscribe") [XEP-0060]
Component "{{ item.components.pubsub }}" "pubsub"
	pubsub_max_items = 10000; -- required for Movim, see https://github.com/movim/movim/wiki/Configure%20prosody

-- Handle file uploads with external webserver and share_v2.php (file is provided by mod_http_upload_external) [XEP-0363]
Component "{{ item.components.upload }}" "http_upload_external"
	http_upload_external_base_url = "https://{{ item.components.upload }}/share_v2.php/"; -- URL to share_v2.php script
	http_upload_external_secret = "{{ uploadpwd[item.name] }}"; -- shared secret, must also be entered in share_v2.php
	http_upload_external_file_size_limit = {{ item.max_upload_mbyte | default(100) }}*1024*1024; -- max. upload size in bytes (default: 100 MByte)
	http_upload_external_protocol = "v2"; -- see docs of mod_http_upload_external
