# {{ ansible_managed }}
# only required to maintain Prosody's LetsEncrypt certificate "{{ domain[item] }}"

<VirtualHost *:80>
    ServerName {{ domain[item] }}

    ServerAdmin {{ prosody.web_domain.admin_email }}

    DocumentRoot /srv/var/www/vhosts/{{ domain[item] }}

    # Logging
    ErrorLog /var/log/apache2/{{ domain[item] }}-error_log
    CustomLog "|/usr/bin/python3 /usr/local/Anonip.git/anonip.py --skip-private --output /var/log/apache2/{{ domain[item] }}-access_log" combined env=!dontlog

    # Don't loose time with IP address lookups
    HostnameLookups Off

    # needed for named virtual hosts
    UseCanonicalName Off

    # Redirect to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]
</VirtualHost>


<VirtualHost *:443>
    ServerName {{ domain[item] }}

    ServerAdmin {{ prosody.web_domain.admin_email }}

    DocumentRoot /srv/var/www/vhosts/{{ domain[item] }}

    # Logging
    ErrorLog /var/log/apache2/{{ domain[item] }}-error_log
    CustomLog "|/usr/bin/python3 /usr/local/Anonip.git/anonip.py --skip-private --output /var/log/apache2/{{ domain[item] }}-access_log" combined env=!dontlog

    # Don't loose time with IP address lookups
    HostnameLookups Off

    # Needed for named virtual hosts
    UseCanonicalName Off

    # LetsEncrypt
    SSLCertificateFile /etc/letsencrypt/live/{{ domain[item] }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ domain[item] }}/privkey.pem
    Include /etc/apache2/letsencrypt-ssl-apache.conf

    # Redirect to info page
    Redirect 301 / https://{{ prosody.web_domain.name | default(inventory_hostname) }}/
</VirtualHost>
