body {
	font-family: sans-serif;
	margin: 0;
	background-color: #e7e7e7;
}

main {
	width: 80%;
	margin: 0.5em auto;
	display: flex;

	flex-wrap: wrap;
	color: #232323;
	background-color: #f2f2f2;

	border-radius: 1em;
}

a {
	color: #644624;
}

a:visited {
	color: #322312;
}

a:hover, a:active {
	color: #a46232;
}

.content {
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 1em;
}

#intro {
	flex: 100%;
	background-color: #e7dfdf;
}

#registration {
	flex: 47%;
	background-color: #dfe7df;
}

#clients {
	flex: 47%;
	background-color: #dfdfe7;
}

#privacy {
	flex: 47%;
	background-color: #e7dfe7;
}

#contact {
	flex: 47%;
	background-color: #e7e7df;
}

@media (max-width: 800px) {
	main {
		margin: 0.2em;
		width: auto;
	}
}
